<?xml version="1.0" ?>
<launch>
    <arg name="a" />
    <arg name="b" />
    <arg name="c" />
    <arg name="d" />
    <arg name="e" />
    <arg name="f" />
    <arg name="ss" />
    <arg name="gj" />
    <arg name="nn" />
    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" required="false"
          args="/joint_position_example_controller_sim/joint_command/data[0] /joint_position_example_controller_sim/joint_command/data[1]
/joint_position_example_controller_sim/joint_command/data[2] /joint_position_example_controller_sim/joint_command/data[3] /joint_position_example_controller_sim/joint_command/data[4]
/joint_position_example_controller_sim/joint_command/data[5] /joint_position_example_controller_sim/joint_command/data[6]" />
    <node name="rqt_plot2" pkg="rqt_plot" type="rqt_plot" required="false"
          args="/joint_states/velocity[5] /joint_states/velocity[4] /joint_states/velocity[3] /joint_states/velocity[2] /joint_states/velocity[1] /joint_states/velocity[0]" />
    <node name="path_planning_node" pkg="path_planning" type="path_planning_node" required="false">
    <param name="a" value="$(arg a)" />
    <param name="b" value="$(arg b)" />
    <param name="c" value="$(arg c)" />
    <param name="d" value="$(arg d)" />
    <param name="e" value="$(arg e)" />
    <param name="f" value="$(arg f)" />
    <param name="ss" value="$(arg ss)" />
    <param name="nn" value="$(arg nn)" />
    <param name="gj" value="$(arg gj)" />
    </node>
</launch>